.partners {
    margin-top: 5rem;
    width: 100%;
    text-align: center;


    &__images {
        display: block;
        margin: 0 2rem;
        max-width: 80%;
        text-align: center;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &__image {
        background-color: transparent;
        display: inline-block;
        margin: 2rem;
        margin-bottom: 1rem;
        padding: 1.5rem;
        width: 16rem;
        height: 16rem;

        border: 1px solid transparent;
        border-radius: 5px;

        background-position: center;
        background-repeat: no-repeat;

        transition: all .4s;


        &:hover {
            border-color: rgba($color-primary, .4);
            transform: translateY(-4px) scale(1.1);
            box-shadow: 4px 8px 16px rgba($color-primary, .4);
        }
        
        &--1 {
            background-image: url(../images/logo-snapchat.svg);
            background-size: 50%;
        }
        &--2 {
            background-image: url(../images/logo-air-bnb.png);
            background-size: 90%;
        }
        &--3 {
            background-image: url(../images/logo-Uber.jpg);
            background-size: 80%;
        }
        &--4 {
            background-image: url(../images/logo-twitter.png);
            background-size: 30%;
        }
        &--5 {
            background-image: url(../images/logo-spotify.svg);
            background-size: 90%;
        }
        &--6 {
            background-image: url(../images/logo-samsung.svg);
            background-size: 90%;
        }
        &--7 {
            background-image: url(../images/logo-AWS_logo_RGB.png);
            background-size: 40%;
        }
        &--8 {
            background-image: url(../images/logo-accuWeather.png);
            background-size: 90%;
        }
        &--9 {
            background-image: url(../images/logo-Apple_logo_black.svg);
            background-size: 25%;
        }
        &--10 {
            background-image: url(../images/logo-microsoft.png);
            background-size: 90%;
        }




    }
}