.content-block {
    padding: 3rem;

    // @include centerY;

    &__links{
        padding: 2rem;
        list-style: none;
        text-align: left;

    }

    &__link {
        padding: 0 2rem;
        display: inline-block;
    }

}