.content-block {
    padding: 3rem;
    text-align: center;

    &__links{
        padding: 2rem 0;
        list-style: none;
        // text-align: left;
    }
    
    &__link {
        display: inline-block;
        
        &:not(:last-of-type) {
            margin-right: 4rem;

        }
    }

}