body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
}

.heading-primary {
    padding: 1rem 2rem;
    margin: 0 1.5rem;


    &__text {
        font-family: inherit;
        font-size: 5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;

        &--white {
            color: $color-grey-1;

        }

        &--black {
            color: $color-grey-4;
        }
    }
}

.heading--tertiary {
    
}