/* 
0 - 600px :         Phone 
600 - 900px :       Tablet Portrait 
900 - 1200px:       Landscape
1200 - 1800:        normal styles performed
1800+ :             Big desktop screens

Breakpoint Argument Choices: 
-phone 
-tab-port 
-tab-land 
-big-desktop

ORDER: Base + typography > General Layout + grid > Page Layout > Components

1em = 16px;

*/
@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveIn {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight-long {
  0% {
    transform: translateX(-20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInLeft-long {
  0% {
    transform: translateX(20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInUp-long {
  0% {
    transform: translateY(20rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #f4f5f9;
  height: 1000rem; }

::selection {
  background-color: #3F51B5;
  color: #ffffff; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  padding: 1rem 2rem;
  margin: 0 1.5rem; }
  .heading-primary__text {
    font-family: inherit;
    font-size: 5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .heading-primary__text--white {
      color: #f4f5f9; }
    .heading-primary__text--black {
      color: #444444; }

.margin-right-small {
  margin-right: 1.5rem !important; }

.margin-bottom-big {
  margin-bottom: 10rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: moveIn .8s ease; }

.btn {
  text-decoration: none;
  padding: .6rem 1.5rem;
  border-radius: 2px;
  font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .btn {
      padding: .5rem; } }
  .btn--blue {
    background-color: #303F9F;
    color: #f4f5f9;
    border: 1px solid #3F51B5;
    transition: all .3s ease; }
    .btn--blue:hover {
      background-color: #3F51B5;
      box-shadow: 6px 6px 0 rgba(48, 63, 159, 0.6); }
  .btn--white {
    background-color: #ffffff;
    color: #212121;
    border: 1px solid #3F51B5;
    transition: all .3s ease; }
    .btn--white:hover {
      color: #303F9F;
      box-shadow: 6px 6px 0 rgba(48, 63, 159, 0.6); }

.row {
  max-width: 80%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  width: 100vw;
  height: 8rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
  .header::after {
    content: '';
    display: table;
    clear: both; }
  .header .logo-box {
    width: 30%;
    float: left;
    font-size: 4rem;
    font-weight: 600;
    padding: .5rem 2rem;
    animation: moveInLeft .8s; }
    @media only screen and (max-width: 75em) {
      .header .logo-box {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .header .logo-box {
        font-size: 2.3rem;
        width: 25%; } }
    @media only screen and (max-width: 37.5em) {
      .header .logo-box {
        width: 100%;
        padding: .1rem .5rem; } }
    .header .logo-box .logo__link {
      text-decoration: none;
      color: #000000;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all .3s; }
      .header .logo-box .logo__link:hover {
        color: #303F9F;
        transform: scale(1.5); }
  .header .nav-bar {
    width: 65%;
    float: right;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (max-width: 56.25em) {
      .header .nav-bar {
        width: 73%; } }
    @media only screen and (max-width: 37.5em) {
      .header .nav-bar {
        width: 100%;
        transform: translateY(-100%); } }
    .header .nav-bar__items {
      list-style: none;
      padding: 0;
      animation: moveInRight .8s; }
    .header .nav-bar__item {
      margin: 2rem 3rem;
      display: inline-block;
      font-size: 1.6rem; }
      @media only screen and (max-width: 75em) {
        .header .nav-bar__item {
          margin: 2rem 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .header .nav-bar__item {
          margin: 1rem .3rem; } }
      @media only screen and (max-width: 37.5em) {
        .header .nav-bar__item {
          margin: .1rem .3rem; } }
      .header .nav-bar__item:last-child {
        margin: 2rem 0;
        margin-right: 3rem; }
        @media only screen and (max-width: 56.25em) {
          .header .nav-bar__item:last-child {
            margin-right: 2rem; } }
    .header .nav-bar__link {
      text-decoration: none;
      color: #212121;
      border-bottom: 3px solid transparent;
      padding-bottom: 3rem;
      transition: border-bottom .3s ease .1s; }
      .header .nav-bar__link:hover {
        color: #000000;
        border-bottom-color: #3F51B5; }
      @media only screen and (max-width: 37.5em) {
        .header .nav-bar__link {
          padding-bottom: 2rem; } }

.section-hero {
  position: relative;
  margin-top: 8.5rem;
  width: 100%;
  height: 70rem;
  text-align: center; }
  .section-hero__text {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; }
    .section-hero__text--1 {
      animation: moveInRight-long 1s  .8s;
      animation-fill-mode: backwards; }
    .section-hero__text--2 {
      animation: moveInLeft-long 1s  1s;
      animation-fill-mode: backwards; }
    .section-hero__text--3 {
      animation: moveInUp-long 1s  2s;
      animation-fill-mode: backwards; }
