/* 
0 - 600px :         Phone 
600 - 900px :       Tablet Portrait 
900 - 1200px:       Landscape
1200 - 1800:        normal styles performed
1800+ :             Big desktop screens

Breakpoint Argument Choices: 
-phone 
-tab-port 
-tab-land 
-big-desktop

ORDER: Base + typography > General Layout + grid > Page Layout > Components

1em = 16px;

*/
@keyframes moveInRight {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveIn {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }

@keyframes moveInRight-long {
  0% {
    transform: translateX(-20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInLeft-long {
  0% {
    transform: translateX(20rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInUp-long {
  0% {
    transform: translateY(20rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  height: 1000rem; }

::selection {
  background-color: #3F51B5;
  color: #ffffff; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  padding: 1rem 2rem;
  margin: 0 1.5rem; }
  .heading-primary__text {
    font-family: inherit;
    font-size: 4.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .heading-primary__text--white {
      color: #f4f5f9; }
    .heading-primary__text--black {
      color: #444444; }

.content-block__text {
  color: #757575;
  font-size: 2.4rem; }

.content-block__link {
  font-size: 2rem; }

.heading-secondary {
  margin-top: 4rem; }
  .heading-secondary__text {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #212121; }

.heading-tertiary {
  margin-top: .2rem; }
  .heading-tertiary__text {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #212121;
    line-height: 1.4; }
    .heading-tertiary__text--white {
      color: #f4f5f9; }

.content__tag {
  padding: 3rem;
  margin: 0 .5rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: #212121;
  letter-spacing: 2px; }

.article-box__par {
  font-size: 1.4rem;
  padding: .5rem 2rem;
  font-family: inherit;
  color: #444444; }

.get-intouch__heading {
  text-align: left;
  padding: 2rem 0;
  font-size: 3rem; }
  .get-intouch__heading h1 {
    background-image: linear-gradient(to right bottom, #f4f5f9, #BDBDBD);
    -webkit-background-clip: text;
    color: transparent; }

.margin-right-small {
  margin-right: 1.5rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.padding-vertical {
  padding: 2rem 0 !important; }

.clear-ver-padding-margin {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.clear-hor-padding-margin {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.article-box {
  margin-top: 5rem;
  padding: 2rem;
  text-align: left; }
  .article-box__links {
    list-style: none;
    padding: .5rem 2rem; }
  .article-box__link {
    display: inline-block;
    padding-right: 1rem; }

.article {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }
  .article__block {
    min-width: 30vw;
    min-height: 30vw;
    border-radius: 3px;
    border: 1px solid transparent;
    overflow: hidden; }
    .article__block:hover {
      border: 1px solid #3F51B5;
      box-shadow: 2px 4px 6px rgba(63, 81, 181, 0.4); }
  .article__picture {
    width: 30vw;
    height: 30vw;
    background-size: cover;
    background-repeat: no-repeat; }
    .article__picture--1 {
      background-image: url(../images/article-pic-1.jpg); }
    .article__picture--2 {
      background-image: url(../images/article-pic-2.jpg);
      background-position: center; }
    .article__picture--3 {
      background-image: url(../images/article-pic-3.jpg);
      background-position: center; }
    .article__picture--4 {
      background-image: url(../images/article-pic-4.jpg);
      background-position: center; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: moveIn .8s ease; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: .6rem 1.5rem;
  border-radius: 2px;
  font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .btn {
      padding: .5rem; } }
  .btn--blue {
    background-color: #303F9F;
    color: #f4f5f9;
    border: 1px solid #3F51B5;
    transition: all .3s ease; }
    .btn--blue:hover {
      background-color: #3F51B5;
      box-shadow: 6px 6px 0 rgba(48, 63, 159, 0.6); }
  .btn--white {
    background-color: #ffffff;
    color: #212121;
    border: 1px solid #3F51B5;
    transition: all .3s ease; }
    .btn--white:hover {
      background-color: #f4f5f9;
      color: #303F9F;
      box-shadow: 6px 6px 0 rgba(244, 245, 249, 0.6);
      border-color: transparent; }
    .btn--white:focus {
      outline: none; }
    .btn--white .icon {
      transition: all .4s ease; }

.btn-wide {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  text-align: center; }

.btn--article {
  padding: .5rem 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: #3F51B5;
  border-bottom: 1px solid transparent;
  transition: all .4 ease; }
  .btn--article:hover {
    border-bottom-color: #3F51B5; }

.content-block {
  padding: 3rem;
  text-align: center; }
  .content-block__links {
    padding: 2rem 0;
    list-style: none; }
  .content-block__link {
    display: inline-block; }
    .content-block__link:not(:last-of-type) {
      margin-right: 4rem; }

.content-two {
  padding: 3rem 0;
  width: 100%;
  text-align: center; }

.content {
  width: 100%;
  text-align: center; }
  .content__heading {
    text-align: left;
    width: 80%;
    padding: 0 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.get-intouch {
  margin: 2rem 0;
  text-align: center; }
  .get-intouch__box {
    width: 80%;
    padding: 2rem 4rem;
    border-radius: 4px;
    background-image: linear-gradient(to right bottom, #C5CAE9, #303F9F);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 4px 8px rgba(63, 81, 181, 0.6); }
  .get-intouch__link {
    text-align: left;
    font-size: 2rem; }
  .get-intouch__after-text {
    margin: 10rem 0;
    width: 80%;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }

.row {
  max-width: 80%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 3rem) / 5); }

.header {
  width: 100vw;
  height: 8rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); }
  .header::after {
    content: '';
    display: table;
    clear: both; }
  .header .logo-box {
    width: 30%;
    float: left;
    font-size: 4rem;
    font-weight: 600;
    padding: .5rem 2rem;
    animation: moveInLeft .8s; }
    @media only screen and (max-width: 75em) {
      .header .logo-box {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .header .logo-box {
        font-size: 2.3rem;
        width: 25%; } }
    @media only screen and (max-width: 37.5em) {
      .header .logo-box {
        width: 100%;
        padding: .1rem .5rem; } }
    .header .logo-box .logo__link {
      text-decoration: none;
      color: #000000;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all .3s; }
      .header .logo-box .logo__link:hover {
        color: #303F9F;
        transform: scale(1.5); }
  .header .nav-bar {
    width: 65%;
    float: right;
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    @media only screen and (max-width: 56.25em) {
      .header .nav-bar {
        width: 73%; } }
    @media only screen and (max-width: 37.5em) {
      .header .nav-bar {
        width: 100%;
        transform: translateY(-100%); } }
    .header .nav-bar__items {
      list-style: none;
      padding: 0;
      animation: moveInRight .8s; }
    .header .nav-bar__item {
      margin: 2rem 3rem;
      display: inline-block;
      font-size: 1.6rem; }
      @media only screen and (max-width: 75em) {
        .header .nav-bar__item {
          margin: 2rem 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .header .nav-bar__item {
          margin: 1rem .3rem; } }
      @media only screen and (max-width: 37.5em) {
        .header .nav-bar__item {
          margin: .1rem .3rem; } }
      .header .nav-bar__item:last-child {
        margin: 2rem 0;
        margin-right: 3rem; }
        @media only screen and (max-width: 56.25em) {
          .header .nav-bar__item:last-child {
            margin-right: 2rem; } }
    .header .nav-bar__link {
      text-decoration: none;
      color: #212121;
      border-bottom: 3px solid transparent;
      padding-bottom: 3rem;
      transition: border-bottom .3s ease .1s; }
      .header .nav-bar__link:hover {
        color: #000000;
        border-bottom-color: #3F51B5; }
      @media only screen and (max-width: 37.5em) {
        .header .nav-bar__link {
          padding-bottom: 2rem; } }

.partners {
  margin-top: 5rem;
  width: 100%;
  text-align: center; }
  .partners__images {
    display: block;
    margin: 0 2rem;
    max-width: 80%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  .partners__image {
    background-color: transparent;
    display: inline-block;
    margin: 2rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 16rem;
    height: 16rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .4s; }
    .partners__image:hover {
      border-color: rgba(63, 81, 181, 0.4);
      transform: translateY(-4px) scale(1.1);
      box-shadow: 4px 8px 16px rgba(63, 81, 181, 0.4); }
    .partners__image--1 {
      background-image: url(../images/logo-snapchat.svg);
      background-size: 50%; }
    .partners__image--2 {
      background-image: url(../images/logo-air-bnb.png);
      background-size: 90%; }
    .partners__image--3 {
      background-image: url(../images/logo-Uber.jpg);
      background-size: 80%; }
    .partners__image--4 {
      background-image: url(../images/logo-twitter.png);
      background-size: 30%; }
    .partners__image--5 {
      background-image: url(../images/logo-spotify.svg);
      background-size: 90%; }
    .partners__image--6 {
      background-image: url(../images/logo-samsung.svg);
      background-size: 90%; }
    .partners__image--7 {
      background-image: url(../images/logo-AWS_logo_RGB.png);
      background-size: 40%; }
    .partners__image--8 {
      background-image: url(../images/logo-accuWeather.png);
      background-size: 90%; }
    .partners__image--9 {
      background-image: url(../images/logo-Apple_logo_black.svg);
      background-size: 25%; }
    .partners__image--10 {
      background-image: url(../images/logo-microsoft.png);
      background-size: 90%; }

.section-hero {
  position: relative;
  margin-top: 8.5rem;
  width: 100%;
  height: 70rem;
  text-align: center; }
  .section-hero__text {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden; }
    .section-hero__text--1 {
      animation: moveInRight-long 1s  .8s;
      animation-fill-mode: backwards; }
    .section-hero__text--2 {
      animation: moveInLeft-long 1s  1s;
      animation-fill-mode: backwards; }
    .section-hero__text--3 {
      animation: moveInUp-long 1s  2s;
      animation-fill-mode: backwards; }

section {
  margin: 5rem 0; }
  section:nth-of-type(even) {
    background-color: rgba(244, 245, 249, 0.3); }
